<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHtk5ytN-VEHzsRVgmS86t_3DoKJdzbPc</string>
	<key>GCM_SENDER_ID</key>
	<string>8775464826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hobbyTracker</string>
	<key>PROJECT_ID</key>
	<string>hobby-tracker-d0426</string>
	<key>STORAGE_BUCKET</key>
	<string>hobby-tracker-d0426.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8775464826:ios:6f372b7efb80cfde8008c3</string>
</dict>
</plist>